/** font-family: 'Amatic SC', cursive; **/
/** font-family: 'Marck Script', cursive; **/
/** font-family: 'Cinzel', serif; **/
/** font-family: 'Quicksand', sans-serif; **/
/** font-family: 'Bangers', cursive; **/
/** font-family: 'Berkshire Swash', cursive; **/
/** font-family: 'IM Fell English SC', serif; */
/** font-family: 'Cabin Sketch', cursive; */
/** font-family: 'Alegreya SC', serif; */
/** font-family: 'Fredericka the Great', cursive; */
/** font-family: 'Farsan', cursive; */
/** font-family: 'Kalam', cursive; */

/********** Fonts **********/

.cabin-sketch {
  font-family: 'Cabin Sketch', cursive;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

.marckScript {
  font-family: 'Marck Script', cursive;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  margin: 8px;
}

.bangers {
  font-family: 'Bangers', cursive;
}

.berkshire {
  font-family: 'Berkshire Swash', cursive;
}

.imfell {
  font-family: 'IM Fell English SC', serif;
}


html {
    text-align: center;
    
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .clear {
    clear: both;
  }
  
  #container {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    opacity: 0.95;
  }

  h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    color: #333;
  }


  /********** manager **********/
  
  .hidden {
    display: none;
  }
  
  .addItemLink {
    font-weight: bold;
    float: left;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  
  /********** topnav **********/
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #1ab6d9;
      font-family: 'Quicksand', sans-serif;
      overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      background-color: #ddd;
      color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
      background-color: #1ab6d9;
      background-color: #fcb040;
      background-color: #24b527;
      background-color: #7f3f98;
      color: white;
  }
  
  /********** forms **********/
  
  #events {
      font-family: 'Quicksand', sans-serif;
  }
  
  .manager {
      font-family: 'Quicksand', sans-serif;
  }
  
  .eventDetail {
      
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
  }
  
  .inputForm {
      font-family: 'Quicksand', sans-serif;
      text-align: left;
      border: 1px solid #555;
      width: 40%;
      padding: 6px;
      margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -20%;
    z-index: 999;
    background-color: white;
  }
  
  .inputForm h2 {
    float: left;
  }
  
  .inputForm .closeX {
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    float: right;
    margin-right: 10px;
  }
  
  .inputForm label {
      float: left;
      min-width: 180px;
      margin: 6px;
  }
  
  .inputForm input {
      float: left;
      min-width: 300px;
      margin: 6px;
  }
  
  .inputForm textarea {
      float: left;
      min-width: 300px;
      margin: 6px;
  }
  
  .inputForm select {
      float: left;
  }


/********** tables **********/

.scroller {
  overflow: scroll;
  overflow-y: hidden;
  margin: 0 100px 0 100px;
  border-top: 10px solid #24b527;
  border-bottom: 2px solid #24b527;
  padding: 35px;
}

.data-table {
  font-family: 'Quicksand', sans-serif;
  
}

.data-table th, .data-table td {
  white-space: nowrap;
}

.select-item {
  
}

.dataTables_filter {
  right: 0;
  margin-right: 0;
  margin-bottom: 4px;
}

.dataTables_filter input {
  right: 0;
  margin-right: 0;
  padding: 0;
}

.dt-button {
  margin-top: 4px;
  padding: 2px;
}